<div class="auth-form-container">
  <h2>Recuperar Senha</h2>
  <p class="subtitle">Digite seu e-mail para receber o link de redefinição!</p>

  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="input-wrapper">
        <input class="form-control" type="email" id="email" formControlName="email" required placeholder=" " />
        <label class="floating-label" for="email">Email</label>
        <div class="input-underline"></div>
      </div>
      
      <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched">
        <small class="error-message">Por favor, insira um email válido.</small>
      </div>
    </div>

    <button type="submit" [disabled]="forgotForm.invalid || isLoading">
      {{ isLoading ? "Enviando..." : "Enviar Link de Recuperação" }}
    </button>
  </form>

  <div class="back-to-login">
    <a routerLink="/login">
      Voltar para o Login
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"/><polyline points="12 5 19 12 12 19"/></svg>
    </a>
  </div>
</div>
