<header class="navbar-container">
  <nav class="navbar-custom">
    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/categoria/cama" class="nav-link">Cama</a>
      </li>
      <li class="nav-item">
        <a routerLink="/categoria/travesseiros" class="nav-link"
          >Travesseiros</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/categoria/toalhas" class="nav-link">Toalhas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/categoria/almofadas" class="nav-link">Almofadas</a>
      </li>
      <li class="nav-item">
        <a routerLink="/categoria/mesa" class="nav-link">Mesa</a>
      </li>
    </ul>
  </nav>
</header>
