<div class="title-container title-spacing-large">
  <h2 class="featured-title">{{ titulo }}</h2>
</div>

<section class="category-section">
  <div class="category-grid">
    <a href="/cama" class="category-card">
      <img src="/BedCategory.svg" alt="Roupas de Cama" />
      <div class="card-overlay">
        <h3>Cama</h3>
      </div>
    </a>

    <a href="/banho" class="category-card">
      <img src="/BathCategory.svg" alt="Toalhas de Banho" />
      <div class="card-overlay">
        <h3>Banho</h3>
      </div>
    </a>

    <a href="/mesa" class="category-card">
      <img src="/TableCategory.svg" alt="Toalhas de Mesa" />
      <div class="card-overlay">
        <h3>Mesa</h3>
      </div>
    </a>

    <a href="/decoracao" class="category-card">
      <img src="/DecorCategory.svg" alt="Itens de Decoração" />
      <div class="card-overlay">
        <h3>Decoração</h3>
      </div>
    </a>
  </div>
</section>
