<div class="top-navbar">
  <div class="logo">
    <a href="/"><img src="/LOGO.png" alt="Logo" /></a>
  </div>

  <div class="search-bar">
    <input type="text" placeholder="O que você procura?" class="search-input" />
    <span class="search-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-search-icon lucide-search"
      >
        <circle cx="11" cy="11" r="8" />
        <path d="m21 21-4.3-4.3" />
      </svg>
    </span>
  </div>

  <div class="account-cart">
    <button class="account-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-user-icon lucide-user"
      >
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
        <circle cx="12" cy="7" r="4" />
      </svg>
      Minha Conta
    </button>
    <button class="cart-btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-shopping-bag-icon lucide-shopping-bag"
      >
        <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z" />
        <path d="M3 6h18" />
        <path d="M16 10a4 4 0 0 1-8 0" />
      </svg>
    </button>
  </div>
</div>

<div class="navbar-container">
  <nav class="navbar">
    <ul class="navbar-list">
      <li><a href="http://">cama</a></li>
      <li><a href="http://">travesseiros</a></li>
      <li><a href="http://">toalhas</a></li>
      <li><a href="http://">almofadas</a></li>
      <li><a href="http://">mesa</a></li>
    </ul>
  </nav>
</div>

<div class="navbar-space"></div>
