<div *ngIf="product" class="product-card">

  <div class="card-image-container">
    <div *ngIf="product.image_paths && product.image_paths.length > 0; else noImage" class="image-wrapper">
      <img [src]="backendUrl + '/' + product.image_paths[0]" [alt]="product.name">
    </div>
    <ng-template #noImage>
      <div class="card-image-placeholder">
        <span>Sem Imagem</span>
      </div>
    </ng-template>
  </div>

  <div class="card-body">
    <h3 class="card-title">{{ product.name }}</h3>
    <p class="card-description">{{ product.description }}</p>
    <div class="card-footer">
      <span class="card-price">{{ product.price | currency:'BRL' }}</span>
      <button class="btn-details">Ver Detalhes</button>
    </div>
  </div>

</div>

<div *ngIf="!product" class="loading-placeholder">
  <p>Carregando produto...</p>
</div>