<app-titulo-decorado titulo="PRODUTOS EM DESTAQUE"></app-titulo-decorado>

<!-- <owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let produto of produto">
    <ng-template carouselSlide>
      <div class="product-card">
        <img [src]="'/assets/images/' + produto.firstimage" alt="{{ produto.name }}">
        <h2>{{ produto.name }}</h2>
        <p>{{ produto.description }}</p>
        <p>R$ {{ produto.price | number:'1.2-2' }}</p>
        <button>Comprar</button>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o> -->
