<div class="products-container">
  <div *ngIf="product" class="product-card">
  <div class="card-image-container">
    <button class="favorite-btn" aria-label="Adicionar aos favoritos">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
        />
      </svg>
    </button>
    <div
      *ngIf="
        product.image_paths && product.image_paths.length > 0;
        else noImage
      "
      class="image-wrapper"
    >
      <img
        [src]="backendUrl + '/' + product.image_paths[0]"
        [alt]="product.name"
      />
    </div>
    <ng-template #noImage>
      <div class="card-image-placeholder">
        <span>Sem Imagem</span>
      </div>
    </ng-template>
  </div>

  <div class="card-body">
    <h3 class="card-title">{{ product.name }}</h3>
    <div class="card-footer">
      <button class="btn-price">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m12 2.5-3.5 3.5" />
          <path d="M12 2.5-3.5 14" />
          <path d="M12 2.5 3.5 3.5" />
          <path d="m19 15-3.5-3.5" />
          <path d="M19 15-3.5 3.5" />
          <path d="M19 15 8 3.5" />
          <path d="M5.5 21 12 14" />
          <path d="m12 14 3.5 7" />
          <path d="m12 14-7 3.5" />
        </svg>
        {{ product.price | currency : "BRL" }}
      </button>
      <button class="btn-details">Ver Detalhes</button>
    </div>
  </div>
</div>
</div>