
<app-top-welcome-header></app-top-welcome-header>
<app-top-navbar [isScrolled]="isScrolled"></app-top-navbar>
<app-main-navbar [isHidden]="isScrolled"></app-main-navbar>

<main class="home-content">
  <app-carousel></app-carousel>
  <app-trust-bar></app-trust-bar>
  <app-featured-products
    ngSkipHydration
    [titulo]="'Mais Vendidos'"
  ></app-featured-products>
  <app-shop-by-category
    [titulo]="'Navegue por Categorias'"
  ></app-shop-by-category>
  <app-testimonials></app-testimonials>
  <app-promo-grid></app-promo-grid>
  <app-newsletter></app-newsletter>
</main>

<app-footer></app-footer>
