<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <input formControlName="name" placeholder="Nome" />
  <input formControlName="email" placeholder="Email" />
  <input
    formControlName="birthDate"
    placeholder="Data de Nascimento"
    type="date"
  />
  <input formControlName="cpf" placeholder="CPF" />
  <input formControlName="phone" placeholder="Telefone" />
  <input formControlName="street" placeholder="Rua" />
  <input formControlName="neighborhood" placeholder="Bairro" />
  <input formControlName="number" placeholder="Número" />
  <input formControlName="zipCode" placeholder="CEP" />
  <input formControlName="state" placeholder="Estado" />
  <input formControlName="city" placeholder="Cidade" />
  <input formControlName="password" placeholder="Senha" type="password" />
  <button type="submit">Cadastrar</button>
</form>
