<div class="auth-form-container">
  <h2>Mude sua senha</h2>
  <p class="subtitle">Por favor, insira e confirme a sua nova senha abaixo!</p>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <!-- Campo Nova Senha -->
    <div class="form-group">
      <div class="input-wrapper">
        <input
          class="form-control"
          id="newPassword"
          formControlName="newPassword"
          [type]="isPasswordVisible ? 'text' : 'password'"
          placeholder=" "
          required
        />
        <label class="floating-label" for="newPassword">Nova Senha</label>
        <div class="input-underline"></div>
        <app-show-password (visibilityChange)="isPasswordVisible = $event">
        </app-show-password>
      </div>
      <div
        *ngIf="
          resetForm.get('newPassword')?.invalid &&
          resetForm.get('newPassword')?.touched
        "
      >
        <small
          *ngIf="resetForm.get('newPassword')?.errors?.['required']"
          class="error-message"
        >
          A senha é obrigatória.
        </small>
        <small
          *ngIf="resetForm.get('newPassword')?.errors?.['minlength']"
          class="error-message"
        >
          A senha deve ter pelo menos 6 caracteres.
        </small>
        <small
          *ngIf="resetForm.get('newPassword')?.errors?.['pattern']"
          class="error-message"
        >
          A senha deve conter um símbolo especial.
        </small>
      </div>
    </div>

    <!-- Campo Confirmar Senha -->
    <div class="form-group">
      <div class="input-wrapper">
        <input
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
          [type]="isPasswordVisible ? 'text' : 'password'"
          placeholder=" "
          required
        />
        <label class="floating-label" for="confirmPassword"
          >Confirme a Nova Senha</label
        >
        <div class="input-underline"></div>
        <app-show-password (visibilityChange)="isPasswordVisible = $event">
        </app-show-password>
      </div>
      <div
        *ngIf="
          resetForm.get('confirmPassword')?.invalid &&
          resetForm.get('confirmPassword')?.touched
        "
      >
        <small class="error-message"
          >A confirmação da senha é obrigatória.</small
        >
      </div>
    </div>
    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? "Carregando..." : "Redefinir Senha" }}
    </button>
  </form>
</div>
